@charset "utf-8";
/* CSS Document */

body{background:#101223;font-family: 'Ubuntu', sans-serif; font-size:13px; font-weight:normal; color:#202135;-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;}
.center{text-align:center;}
a{text-decoration:none;}
a:hover{text-decoration:none; color:#ff2917; opacity:.8;}
h1, h2, h3, h4, h5, h6{font-weight:300; margin:0;}
.box-shadow{box-shadow:0 0 4px #fff;}
.paddinger{padding:16px;}

.red{color:#ff2917;}
.blue{color:#202135;}
.legend{font-size:11px;}

.loginer{margin-top:136px;}
#login-box{background:#ebeff5;}
#login-box h3{font-weight:normal;}
.logo{color:#fff; background:#ff2917;  height:68px; width:5%; line-height:68px;float:left;}
.loginer .logo{width:68px;}
.titler{background:#fff; color:#202135; line-height:68px; height:68px;margin-top:0; margin-bottom:0; float:left; padding-left:14px;}
.table-responsive tr, .ui-sortable-handle, .ui-sortable, .ui-helper{width:100% !important;}

.btn{outline:none !important;}
.btn-default{border-radius:16px; padding-left:28px; padding-right:28px; color:#fff; background:rgba(255,40,22,1); font-weight:300; border:0; box-shadow:0 0 4px #aaa; text-shadow:none;}
.btn-default:hover, .btn-default:focus{color:#fff; background:rgba(32,33,55,1); box-shadow: none;}
#login-box .form-group{position:relative;}
#login-box .form-control{border:0; border-bottom:1px solid #dcdfe4; background:none; color:#b1b6c6; box-shadow:none; border-radius:0; padding-left:54px; }
#login-box .glyphicon{position:absolute; vertical-align:middle; margin-top:1px; left:10px; color:#b1b6c6; font-size:26px;}
.panel-heading i, .editor i, .remover i, .modal-header i, .alert-info i{font-size:26px;}
.panel-heading a{display:inline-block;float:right;font-size:14px;color:#fff;margin-top: -35px;}
.panel-heading a i{font-size:14px;}
.container-fluid ul, .parent-menu li{margin:0; padding:0; list-style:none; margin-top:-1px; /*white-space:nowrap;*/}
.parent-menu{overflow:hidden;}
.short{width:5%;}
.right{ background-color:#f3f3f3 !important;}
.right-long{width:95%;}
.menu-margin-top{margin-top:68px !important;}
.menu-margin-top li{white-space:nowrap;}
.parent-menu li span.glyphicon{width:68px;height:42px; line-height:42px; background:#101223; color:#5c6076;font-size:24px; }
.parent-menu li span.glyphicon:before{vertical-align: middle;}
.parent-menu li a{font-size:12px; text-transform:uppercase; font-weight:300; color:#ebeff7; text-decoration:none; cursor:pointer;}
.parent-menu li a:hover, .parent-menu li.active a{color:#ebeff7; opacity:1;}
.parent-menu li a:hover span.glyphicon, .parent-menu li.active a span.glyphicon{color:#ff2917;}
.parent-menu li ul li.active a {color:#ff2917;}
.parent-menu li a i{font-size:6px; /*padding-left:10px;*/ margin-top: -4px;vertical-align: middle;}
.off{float:right; line-height:68px; margin-right:16px;}
.off{color:#101223; font-size:16px;}
.off:hover, .off:focus {color:#ff2917;}
.off.active, .off.active:hover, .off.active:focus{color:#ff2917;}
.footer a{color:#ff2917;}
.user{color:#fff;}
.user a{color:#ff2917;}
.user img{max-width:82px;border:2px solid #ebeff7; padding:4px; margin:0 auto; cursor:pointer;}
.menu-toggle-mobile{position:absolute;left:0;top:0; width:68px; height:68px; line-height:68px; display:none;cursor:pointer;}
.menu-toggle-mobile i, .menu-toggle-desktop i{ color:#fff; font-size:28px; font-weight:300;}
.menu-toggle-mobile:hover i, .menu-toggle-desktop:hover i{color:#ff2917;}
.menu-toggle-desktop{position:absolute;left:0;top:0; width:68px; height:68px; line-height:68px;cursor:pointer;}
.parent-menu li ul{display:none;}
.parent-menu li ul li{margin-left:70px; margin-bottom:12px;}
.parent-menu li ul li a{text-transform:none;}
.parent-menu li ul li a:hover{color:#ff2917;}

.right .panel-default{border:0; border-radius: 0;}
.right .panel-heading{background-image:none !important; background-color:#202135 !important; color:#ff2917; border-radius:0;}
.right .panel-heading h4 a, .right .alert-info a{color:#fff; opacity:1;}
.right .panel-heading h4 a:hover, .right .alert-info a:hover{color:#ff2917;}
.table thead{background-color:#202135;}
.table th{font-size:13px; font-weight:500; color:#fff; border:0 !important;}
.table>tbody>tr>td{vertical-align:middle;}
.right h5{color:#ff2917;}
.editor a{margin:0 12px; cursor:pointer; color:#202135;}
.remover a{margin:0 12px; cursor:pointer;color:#ff2917;}
.modal input[type="text"]{max-width:50px; display:block; margin:0 auto; text-align:center;}
.modal .form-group{margin:20px;}
.hidden{visibility:hidden;}
.modal, .modal-content, .modal-header, .modal-footer{border:0; border-radius:0;}
.modal-header, .modal-footer{color:#ff2917; background-color:#202135;}
.modal-footer{text-align:center;}
.modal-header .close{color:#fff; text-shadow:none; opacity:1;}
.modal-footer .btn{margin:0 12px;}
.right .row .col-md-6:nth-child(odd){clear:both;}
.list-group{border:0; color:#202135;}
.list-group, .list-group-item, .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover, .list-group-item:last-child {border-radius:0; box-shadow:none; opacity:1;}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover, .list-group-item.active, .list-group-item.active:hover{color:#ff2917; background-color:#202135; background-image:none; text-shadow:none; border:0;}
.list-group a{color:#202135;}
.list-group a:hover, .list-group a:focus{color:#ff2917; background-color:#ebeff7; opacity:1;}

.alert-info{
	border-radius:0; border:0; background-image:none; background:#202135; color:#fff; font-size:11px;

}
.alert-info a{margin-top:-5px;}
.alert-info strong{color:#ff2917; margin-right:10px;}
.alert-info .close{text-shadow:none; font-weight:300;}

@media screen and (max-width: 2560px) {
	.short{width:2.7%;}
	.logo{width:2.7%;}
	.right-long {width: 97.3%;}
}

@media screen and (max-width: 1920px) {
	.short{width:3.6%;}
	.logo{width:3.6%;}
	.right-long {width: 96.4%;}
}

@media screen and (max-width: 1600px) {
	.short{width:4.3%;}
	.logo{width:4.3%;}
}

@media screen and (max-width: 1440px) {
	.short{width:4.8%;}
	.logo{width:4.8%;}
	.right-long {width: 95.2%;}
}

@media screen and (max-width: 1080px) {
	.short{width:6.29%;}
	.logo{width:6.29%;}
	.right-long {width: 93.71%;}
}

@media screen and (max-width: 1024px) {
body{font-size:12px;}
.loginer{margin-top:200px;}
.titler{font-size:16px;}
.short{width:6.6%;}
.right-long{width:93.4%}
.logo{width:68px;}
}


@media screen and (max-width: 768px) {
.loginer{margin-top:320px;}
.parent-menu{display:none;}
.menu-toggle-mobile{display:block;}
.menu-toggle-desktop{display:none;}
.user{height:88px; text-align:left;}
.user img{float:left; max-width:60px; margin-left:52px; margin-right:16px;}
.menu-toggle-mobile{top:12px;}
.form-inline .form-group{display:block; text-align:center;}
.logo{width:auto;}
.short{width:4.7%;}
.right-long{width:95.3%}

}

@media screen and (max-width: 640px) {
	.loginer{margin-top:12px;}
	.logo{width:68px;}
}

@media screen and (max-width: 480px) { /* IN BROWSER SET WIDTH 360px !!!!!!  */

.loginer{margin-top:140px;}
.titler{font-size:14px;}
.logo{width:68px;}
	
}